.HomeContent {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px
}
.HomeWallets {
  display: flex;
  flex-direction: row;
  gap: 5px;
  background-color: var(--dashboard);
  border: 1px solid var(--accent);
  border-radius: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}
.HomeWallet h1 {
  font-size: 2rem;
  font-weight: normal;
}
.HomeWallet {
  width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border: 1px solid var(--accent);
  border-radius: 5px;
  font-size: 1.8rem;
  padding: 10px;
  color: var(--text);
}
.HomeWallet > :not(h1) + :not(h1) {
  margin: 10px;
}
.HomeWalletProperty {
  background-color: var(--secondary);
  border: 1px solid var(--accent);
  width: 750px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.HomeWalletProperty:hover{
  background-color: rgba(var(--secondary), 0.5);
}
.HomeWallet button {
  color: var(--text);
  font-size: 1.8rem;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.HomeWallet button:hover {
  background-color: rgba(var(--interact), 0.5);
  transform: translateY(-2px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}
.HomeContent h1 {
  font-size: 2.1rem;
}
.Home {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100vh;
}
